:root{
  --white-color:hsl(0, 0%, 100%);
  --grey-color:hsl(0, 0%, 20%);
  --dark-grey-color:hsl(0, 0%, 12%);
  --off-black-color:hsl(0, 0%, 8%);
}
*,
*::before,
*::after{
  box-sizing: border-box;
}
*{
  padding: 0;
  margin: 0;
  line-height: 1.5;
  list-style: none;
  text-decoration: none;
  /* margin-inline: auto; */
}
a{
  color: inherit;
}
img{
  max-width: 100%;
}
body{
  font-family: "Inter", sans-serif;
  background-color: var(--off-black-color);
  color: var(--white-color);
}

.social{
background-color: var(--dark-grey-color);
border-radius: 6px;
max-width: 80%;
width: 400px;
margin-top: 5rem;
padding: 2.5rem;
text-align: center;
margin-inline: auto;
}
.social__img-container{
  width: 100px;
  height: auto;
  border-radius: 50%;
  overflow: hidden;
  margin-inline: auto;
}
.social__img-container img{
  transform: scale(210%);
  transition: 0.5s ease-out;
}
.social__img-container img:hover{
  transform: scale(180%);

}
.social__info-container > *{
  margin-bottom: 1.2rem;
}
.social__info-container h1{
  font-size: 1.8rem;
  font-weight: 400;
}
.social__info-container span{
  font-size: 0.875rem;
  font-weight: 600;
  color: hsl(75, 94%, 57%);
}
.social__info-container p{
  font-size: 0.875rem;
  color: #e0e0e0;
}
.social__links > *:not(:last-child){
  margin-bottom: 1.2rem;
}
.social__link a{
  display: block;
  background-color: var(--grey-color);
  padding: 1rem;
  border-radius: 10px;
  font-weight: 700;
  transition: 0.5s cubic-bezier(0.4, 0, 1, 1);
}
.social__link a:hover{
  background-color: hsl(75, 94%, 57%);
  color: var(--dark-grey-color);
}
.attribution{
  margin-top: 5rem;
}
.attribution a[href]{
  color: hsl(75, 94%, 57%);
}

/* xs */
@media (max-width: 397px) {
  .social__info-container p{
    font-size: 0.795rem;
  }
}